<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link th:href="@{/css/page/sample/sample.css}" rel="stylesheet" />
    </head>

    <body>
        <main>
            <div class="content">
                <h1>pocketbackup.jp</h1>
                <h2>ダミー機能</h2>
                <div th:if="${message}" class="message">
                    <p th:text="${message}"></p>
                </div>
                <div class="menu">
                    <div class="item">
                        <div>
                            <h3>DB データ取得結果</h3>
                        </div>
                        <div th:if="${samples}">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>EmailAddress</th>
                                    <th>CreatedAt</th>
                                </tr>
                                <tr th:each="sample, status : ${samples.list}">
                                    <td th:text="${sample.id.value}"></td>
                                    <td th:text="${sample.emailAddress.value}"></td>
                                    <td th:text="${sample.createdAt.formattedValue}"></td>
                                </tr>
                            </table>
                        </div>
                        <div th:if="${sample}">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>EmailAddress</th>
                                    <th>CreatedAt</th>
                                </tr>
                                <tr>
                                    <td th:text="${sample.id.value}"></td>
                                    <td th:text="${sample.emailAddress.value}"></td>
                                    <td th:text="${sample.createdAt.formattedValue}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <a th:href="@{/}" class="button">TOP へ戻る</a>
                </div>
            </div>
        </main>
    </body>
</html>
