<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link th:href="@{/css/page/sample/sample.css}" rel="stylesheet" />
    </head>

    <body>
        <main>
            <div class="content">
                <h1>pocketbackup.jp</h1>
                <h1>開発チーム：動作確認成功しました。</h1>
                <h2>ダミー機能</h2>
                <div th:if="${message}" class="message">
                    <p th:text="${message}"></p>
                </div>
                <div class="menu">
                    <div class="item email">
                        <div>
                            <h3>メール送信確認</h3>
                        </div>
                        <form method="post" th:action="@{/email/send}">
                            <span>メールアドレス</span>
                            <input type="text" th:field="${emailAddress.value}" maxlength="256" />
                            <button type="submit" class="button">メール送信</button>
                        </form>
                        <th:block th:if="${#fields.hasErrors('emailAddress.*')}" th:each="error : ${#fields.errors('emailAddress.*')}">
                            <span class="error" th:text="${error}"></span>
                        </th:block>
                    </div>
                    <div class="item db">
                        <div>
                            <h3>DB 接続確認</h3>
                        </div>
                        <div class="action">
                            <form method="post" th:action="@{/db/select/id}">
                                <span>ID</span>
                                <input type="text" th:field="${id.input}" maxlength="3" />
                                <button type="submit" class="button">１件データ取得</button>
                            </form>
                            <th:block th:if="${#fields.hasErrors('id.*')}" th:each="error : ${#fields.errors('id.*')}">
                                <span class="error" th:text="${error}"></span>
                            </th:block>
                        </div>
                        <div class="action">
                            <a th:href="@{/db/select/all}" class="button">全件データ取得</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
