@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700&display=swap");

html {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    height: 100%;
    position: relative;
    color: #2e2e2e;
}

a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0;
}

input[type="text"] {
    height: 30px;
}

table {
    border-spacing: 0;
    border: 1px dotted #ccc;
}

th {
    padding: 10px;
    background-color: #d6dafb;
    border: 1px dotted #ccc;
}

tr,
td {
    padding: 10px;
    border: 1px dotted #ccc;
}

.error {
    color: red;
}

.button {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#a5adf2), to(#d9a6e2));
    background-image: -webkit-linear-gradient(left, #a5adf2 0%, #d9a6e2 100%);
    background-image: linear-gradient(to right, #a5adf2 0%, #d9a6e2 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    color: #fff;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content {
    padding: 10px 30px;
}

.content .message {
    color: green;
}

.content .item {
    border: 1px solid #ccc;
    padding: 10px 0px 30px 30px;
}

.content .email input {
    width: 300px;
}

.content .db input {
    width: 80px;
    text-align: center;
}
